<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {#  js/css import  #}
    {% block head %}{% endblock %}
</head>
<body>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
            <strong>Flask 博客</strong>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/">首页</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('qa.publish') }}">发布问答</a>
        </li>

        <li class="nav-item">
            <form class="form-inline my-2 my-lg-0" method="get" action="{{ url_for("qa.search") }}">
                <input class="form-control mr-sm-2" type="search" placeholder="关键字" name="q"/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            </form>
        </li>
    </ul>

    <span class="fa-align-right">
        {% if user %}
            <span class="nav-link">{{ user.username }}</span>
            <a class="nav-link" href="{{ url_for('auth.logout') }}">退出登录</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('auth.login') }}">登录</a>
            <a class="nav-link" href="{{ url_for('auth.register') }}">注册</a>
        {% endif %}
    </span>
</div>

<hr>

<div class="container" align="center">
</div>
{% block body %}{% endblock %}
</body>
</html>
