{% extends "base.html" %}

{% block title %}Flask Blog - 注册页面{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename = 'js/register.js') }}"></script>
{% endblock %}

{% block body %}
<form method="post">
    <div>
        <span>邮箱:</span>
        <input type="text" name="email">
    </div>

    <div>
        <span>验证码:</span>
        <input type="text" name="captcha">
        <button id="captcha-btn" class="btn btn-outline-secondary">获取验证码</button>
    </div>

    <div>
        <span>账户:</span>
        <input type="text" name="username">
    </div>

    <div>
        <span>密码:</span>
        <input type="password" name="password">
    </div>

    <div>
        <span>确认密码:</span>
        <input type="password" name="password2">
    </div>


    <div>
        <button id="submit-btn" class="btn btn-primary">注册</button>
    </div>
</form>
{% endblock %}