# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Environment
.DS_Store
*/.DS_Store
*/*/.DS_Store
**/.DS_Store
java/v3/cloud-parent/cloud-eureka-server-7002/.project
java/v3/cloud-parent/cloud-eureka-server-7003/.project
java/v3/cloud-parent/cloud-eureka-server-7002/.classpath
java/v3/cloud-parent/cloud-eureka-server-7003/.classpath
