<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf 语法练习</title>
</head>
<body>


<div>
    <div>
        从 Properties 文件中取本地化值:
        <div th:text="#{msg.prop.key1}"></div>
    </div>

    <hr>

    <div>
        取单个值:
        <div th:text="${hello}"></div>
    </div>

    <hr>

    <div>
        这是 Server 存储的 name: <span th:text="${name}"></span>

        <br>

        取一个集合并遍历:
        <div th:each="name : ${list}">
            <span th:text="${name}"></span>
        </div>
    </div>

    <hr>



</div>

</body>
</html>