# Include dir
#!build/**

# Environment
.idea/
.gradle
MANIFEST.MF
.DS_Store
.settings
.recommenders

# Compiled class file
*.class
/target
/bin
/out
/build

# Log file
*.log
*.log.gz

# Package Files #

