<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Shiro-Spring Demo</display-name>

  <!-- 定义 Spring 配置文件 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>

  <!-- 配置 Shiro Filter, 注意 DelegatingFilterProxy 这是一个代理类,
    默认情况下, 这将从 Spring IOC 容器中查找 <filter-name> 指定的 Filter Name 的 Bean 作为具体的 Filter
    也可以通过 targetBeanName 初始化参数去指定 IOC 中具体 Filter Bean 的名称
  -->
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <!--
        targetFilterLifecycle 指定为 true 去
        强制调用 Filter 的 init 和 destroy 方法
      -->
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>

    <init-param>
      <param-name>targetBeanName</param-name>
      <param-value>shiroFilter2</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--
    配置spring核心监听器，默认会以 /WEB-INF/applicationContext.xml作为配置文件
    配合 context-param(contextConfigLocation) 加载自定义的配置文件.
  -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- SpringMVC 的 DispatcherServlet -->

  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <!--  自定义 springmvc 的配置文件, 默认为 /WEB-INF/dispatcher-servlet.xml    -->
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:dispatcher-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
